.shoppable-image-container{
    position: relative;
    line-height: 0px;
    img{
        width: 100%;
    }
    span{
        width :20px;
        height :20px;
        background :rgba(86, 202, 244, 0.64);
        display :inline-block;
        position :absolute;
        border-radius :50%;
    }
    .shopable_image_hotspot_popup {
        position: absolute;
        display: none;
        z-index: 2;
        top: 0px;
        left: 0px;
        background: #fff;
        font-size: 11px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px #000;
        width: 320px;
        height: 150px;
        .close{
            width :20px;
            height :20px;
            background :rgba(255, 102, 44, 0.64);
            display :inline-block;
            position :absolute;
            border-radius :50%;
            right: 0px;
            top: 0px;
        }
        .product-details{
            display: block;
            width: 100%;
            overflow: hidden;
            .img-container{
                width: 75px;
                float: left;
                img{
                    width: 100%;
                }
            }
            .details{
                width: 242px;
                float: right;
                p{
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    line-height: 11px;
                }
                a{
                    display: inline-block;
                    padding: 10px;
                    background: #197d85;
                    text-decoration: none;
                    color: #FFF;
                    letter-spacing: 1px;
                }
            }
        }
    }
}


@media screen and (min-width: 1px) and (max-width : 400px){

}
